@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

* {
	box-sizing: border-box;
}

body {
  background-image: url('../imagenes/Fondo3.png');
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  position: relative;
  font-family: "Poppins", sans-serif;	
}

.ajuste__titulos_1{
   margin-top: -25px;
}

.centrar_logo{
    text-align: center;
}

main {
	max-width: 800px;
	width: 90%;
	margin: auto;
	padding: 40px;
}

.formulario {
	display: grid;  /*display: grid pone los inputs en forma de cuadrado*/
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.formulario__label {
    text-align: center;
	display: block;
	font-weight: 700;
	padding: 5px;
	cursor: default;
    color: white;
    font-size: 20px;
}

.formulario__grupo-input {
	position: relative; /*Mover iconos de check y error*/
}

.formulario__input {
	width: 100%;
	background: #F2F2F2; /*Color fondo inputs*/
	border: 3px solid transparent;
	border-radius: 100px; /*Borde cajas inputs*/
	height: 45px; /*Ancho de cajas inputs*/
	line-height: 45px;
	padding: 0 40px 0 10px;
	transition: .3s ease all;
}

.formulario__input:focus {
	border: 3px solid #0075FF;
	outline: none;	
}

.formulario__input-error {
	font-size: 12px; /*Tamaño de letra, errores en inputs*/
	margin-bottom: 0;
	display: none;
    color: white;
    font-family: "Poppins", sans-serif;
}

.formulario__input-error-activo {
	display: block;
}

.formulario__validacion-estado {
	position: absolute;
	right: 10px;
	bottom: 15px;
	z-index: 100;
	font-size: 16px; /*Tamaño de iconos cruz y paloma*/
	opacity: 0;
}

.formulario__checkbox {
	margin-right: 10px;
}

.formulario__grupo-terminos, 
.formulario__mensaje,
.formulario__grupo-btn-enviar {
	grid-column: span 2;
}

.formulario__mensaje {
	text-align: center;
	height: 45px;
	line-height: 45px;
	background: #F66060;
	padding: 0 15px;
	border-radius: 55px; /* Alerta */
	display: none;
}

.formulario__mensaje-activo {
	display: block;
}

.formulario__mensaje p {
	margin: 0;
}

.formulario__grupo-btn-enviar {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.formulario__btn {
	font-size: 18px;
    margin-top: 40px;
    margin-bottom: 30px;
    display:inline-block;
	height: 45px;
	line-height: 40px;
	width: 30%;
	background-color: #04275f;/*Color caja de texto enviar*/
	color: white; /*Color de letras enviar */
	font-weight: bold;
	border-radius: 55px;
	cursor: pointer;
	transition: .1s ease all;
	border: 2.7px solid #04275f;
}

#no_registro-iniciar-sesion{
   
    color: white;
	  margin-top: 15px;
	  padding-bottom: 0;
}
#btn-iniciar-sesion{
	  margin-top: 10px;
	  margin-bottom: 100px;
}
.fa-exclamation-triangle{
   text-align: center;
   padding: 10px;
    
}

.formulario__btn:hover {
	background-color: #04277f;
    border-color: #04277f;
}

.formulario__mensaje-exito {
	font-size: 14px;
	color: #119200;
	display: none;
}

.formulario__mensaje-exito-activo {
	display: block;
}

/* ----- -----  Estilos para Validacion ----- ----- */
.formulario__grupo-correcto .formulario__validacion-estado {
	color: #0075FF;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__label {
	color: #bb2929;
}

.formulario__grupo-incorrecto .formulario__validacion-estado {
	color: #bb2929;
	opacity: 1;
}

.formulario__grupo-incorrecto .formulario__input {
	border: 3px solid #bb2929;
}


/* ----- -----  Mediaqueries ----- ----- */
@media screen and (max-width: 800px) {
	.formulario {
		grid-template-columns: 1fr;
	}

	.formulario__grupo-terminos, 
	.formulario__mensaje,
	.formulario__grupo-btn-enviar {
		grid-column: 1;
	}

	.formulario__btn {
		width: 100%;
	}
}